
{% extends "boardgames/base.html" %}



{% block content %}

    <h3><a href="{% url 'boardgames:game' game.id %}">{{ game }}</a> </h3>

    <form action="{% url 'boardgames:edit_game' game.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Save changes</button>
    </form>

{% endblock content %}