{% extends "boardgames/base.html" %}

{% block page_header %}
  <h3>{{ game }}</h3>
{% endblock page_header %}

{% block content %}


   <div class="card mb-3">
      <div class="card-body">
         <h6>Info</h6>
            <p>{{ info }}</p>
         <h6>Players</h6>
            <p>{{ players }}</p>
         <h6>Owner</h6>
            <p>{{ owner }}</p>
      </div>

   


   {% if user.is_authenticated %}

      {% for loan in loans %}

         {% if loan.loaned %}
            The game is loaned to  {{ loan.loaner }} starting {{ loan.loan_started }}
            
            {% if user == loan.loaner %}
               <form action="{% url 'boardgames:return_loan' loan.id %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class="btn btn-bg btn-primary" name='submit'>Return game</button>
               </form>
            {% endif %}
         {% endif %}
         
         {% if forloop.last %}
            {% if not loan.loaned %}
               The game is free! Loan it? 
   
               <form action="{% url 'boardgames:new_loan' game.id %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class="btn btn-bg btn-primary" name='submit'>Loan game</button>
               </form>  
            {% endif %}
         {% endif %}
      {% empty %}
      The game is free! Loan it? 
      
      <form action="{% url 'boardgames:new_loan' game.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-bg btn-primary" name='submit'>Loan game</button>
         </form>     
      {% endfor %}
   {% endif %}

   {% if user == game.owner %}
   <h5 class="card-header">
      <small><a href="{% url 'boardgames:edit_game' game.id %}">Edit game</a></small>
   </h5>
   </div>
   {% endif %}

{% endblock content %}