{% extends "boardgames/base.html" %}

{% block page_header %}
  <h1>Games</h1>
{% endblock page_header %}

{% block content %}

   

   <ul>
       {% for game in games %}
         <li><h3>
           <a href="{% url 'boardgames:game' game.id %}">{{ game }}</a>
         </h3></li>
       {% empty %}
       <li><h3>No games have been added yet.</li>
       {% endfor %}
   </ul>

   <h3><a href="{% url 'boardgames:new_game' %}">Add a new game</a></h3>
{% endblock content %}