{% extends "boardgames/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Play and borrow Board Games!</h1>
    
    <p class="lead">Keep track of your board games with Board Games! You can add a new board game whenever you want. </p>
 
    {% if not user.is_authenticated %}

    <a class="btn btn-bg btn-primary" href="{% url 'users:login' %}"
        role="button">Login &raquo;</a>
        <br><br>
        <h3>New here?</h3>
    <a class="btn btn-bg btn-primary" href="{% url 'users:register' %}"
           role="button">Register &raquo;</a>

    {% else %} 
        <a href="{% url 'boardgames:games' %}" >Gamelist</a>
    {% endif %}
  </div>
{% endblock page_header %}


