{% extends "boardgames/base.html" %}

{% block content %}
 <h3> Yay! You have now loaned <a href="{% url 'boardgames:game' game.id %}">{{ game }}</a></h3>

 <p>Enjoy playing and remember to return when you've played enough!</p>

 {% endblock content %}


